@import url("https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter:wght@400;700;800&display=swap");

:root {
  --inter: "inter", sans-serif;
  --create: "Crete Round", serif;
  --dark-background: #1f2937;
  --hero-color: #f9faf8;
  --hero-sec: #e5e7eb;
  --button-color: #3882f6;
  --info-text: #1f2937;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: var(--hero-sec);
  overflow: hidden;
}
.navbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--dark-background);
  height: 80px;
  align-items: center;
  padding: 0 7em 0 7em;
}

.link_container {
  display: flex;
  list-style: none;
}
.link_container li {
  margin-left: 2rem;
  list-style: none;
  font-size: 18px;
}
.img_1 {
  display: inline-block;
  width: 100px;
  height: 50px;
  vertical-align: top;
  margin-bottom: 10px;
  margin-top: 10px;
}
.sect {
  display: flex;
  background-color: var(--dark-background);
  padding: 2rem 7em 3rem 7em;
  color: var(--hero-color);
  column-gap: 3rem;
}
.sect h1 {
  font-size: 48px;
  font: bold;
  font-family: var(--inter);
}
.sect p {
  font-size: 18px;
}
.btn_signup {
  padding: 0.3rem 1rem;
  border-radius: 0.4rem;
  margin-top: 1rem;
  background-color: var(--button-color);
  color: var(--hero-color);
}
.caterers {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 35px;
  padding-bottom: 30px;
}
.caterers h2 {
  font-size: 36px;
  font-weight: bold;
  font-family: var(--inter);
}
.caterers_list {
  display: flex;
  column-gap: 2.5rem;
}
.caterers_list li {
  list-style: none;
  padding-top: 40px;

  align-items: center;
  width: 100px;
}
.caterers_list img {
  width: 100px;
  border: 3px solid var(--button-color);
  border-radius: 10%;
  height: 100px;
}
.section_3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 55px;
  padding-bottom: 55px;
  justify-content: center;
  background-color: var(--hero-color);
}
.section_3 p {
  font-size: 18px;
  margin-right: 50px;
  margin-left: 50px;
  padding-left: 100px;
  padding-right: 100px;
  padding-right: 80px;
}
.section_3 span {
  font-weight: bold;
  align-self: end;
  padding-top: 20px;
  display: flex;
  padding-right: 100px;
  margin-right: 70px;
}
